<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agenda de consultas</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <h1>Agenda de consultas</h1>
    <table>
        <tr>
            <th>Horário</th>
            <th>Situação</th>
        </tr>
        <tr id="oito">
            <td>08:00</td>
            <td >Livre</td>
        </tr>
        <tr id="oito-trinta">
            <td>08:30</td>
            <td>Livre</td>
        </tr>
        <tr id="nove">
            <td>09:00</td>
            <td>Livre</td>
        </tr>
        <tr id="nove-trinta">
            <td>09:30</td>
            <td>Livre</td>
        </tr>
        <tr id="dez">
            <td>10:00</td>
            <td>Livre</td>
        </tr>
    </table>

    <div id="selecionado">
    </div>
    <input type="button" value="Agendar Consulta" id="buttonAgendar">
    <script src="/static/js/script.js"></script>
</body>
</html>
