<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agenda de consultas</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <h1>Agenda de consultas</h1>
    <table>
        <tr>
            <th>Horário</th>
            <th>Situação</th>
        </tr>
        <tr>
            <td id="oito">08:00</td>
            <td>Livre</td>
        </tr>
        <tr>
            <td id="oito-trinta">08:30</td>
            <td>Livre</td>
        </tr>
        <tr>
            <td id="nove">09:00</td>
            <td>Livre</td>
        </tr>
        <tr>
            <td id="nove-trinta">09:30</td>
            <td>Livre</td>
        </tr>
        <tr>
            <td id="dez">10:00</td>
            <td>Livre</td>
        </tr>
    </table>

    <script src="/static/js/script.js"></script>
</body>
</html>